<h1>FILMS</h1>
<ul>

  @for (movie of movies; track movie) {
    <div class="uk-card uk-card-secondary uk-card-hover uk-card-body eni-movie-card"
         [ngStyle]="{ 'background-image': 'url(' + movie.cover + ')' }">
      <div class="overlay">
    <h2>{{movie.title}}</h2>
    <h3>{{movie.year}}, {{movie.author}}</h3>
    <h4>{{movie.duration}} min</h4>
    <div class="star-rating">
      @for (star of stars; track star) {
        <span [class.filled]="movie.rating >= star">
          <i class="fa-solid fa-star"></i>
        </span>
      }
      </div>
    <h3>{{movie.genre}}</h3>
    <p class="synopsis">{{movie.synopsis}}</p>
    <span></span>
      </div>
    </div>
  }
</ul>
