<h1>{{ 'title.movies' | translate }}</h1>
<button (click)="callApi()" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">{{ 'btn.movie_call_api' | translate }}</button>
<ul class="uk-height-viewport">

  @for (movie of movies; track movie) {
    <div class="uk-card  eni-movie-card"
         [ngStyle]="{ 'background-image': 'url(' + movie.cover + ')' }">
      <div class="overlay">
    <h2>{{movie.title}}</h2>
    <h3>{{movie.year}}, {{movie.author}}</h3>
    <h4>{{movie.duration}} min</h4>
    <div class="star-rating">
      @for (star of stars; track star) {
        @if (movie.rating >= star){
          <i class="fa-solid fa-star"></i>
        } @else {
          <i class="fa-regular fa-star" style="color: #FFD43B;"></i>
        }

      }
      </div>
    <h3>{{movie.genre}}</h3>
    <p class="synopsis">{{movie.synopsis}}</p>
    <span></span>
      </div>
    </div>
  }
</ul>
